/* line 1, /app/app/assets/stylesheets/global/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 19, /app/app/assets/stylesheets/global/reset.scss */
input, button, textarea {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
}

/* line 26, /app/app/assets/stylesheets/global/reset.scss */
html, body {
  height: 100%;
  min-width: 960px;
}

/* line 31, /app/app/assets/stylesheets/global/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, /app/app/assets/stylesheets/global/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, /app/app/assets/stylesheets/global/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
}

/* line 48, /app/app/assets/stylesheets/global/reset.scss */
html {
  overflow-y: scroll;
}

/* line 51, /app/app/assets/stylesheets/global/reset.scss */
article, aside, header, footer, nav, section,
figure, figcaption, hgroup, progress, canvas {
  display: block;
}

/* line 56, /app/app/assets/stylesheets/global/reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 59, /app/app/assets/stylesheets/global/reset.scss */
strong, b {
  font-weight: bold;
}

/* line 62, /app/app/assets/stylesheets/global/reset.scss */
em, i {
  font-style: italic;
}

/* line 66, /app/app/assets/stylesheets/global/reset.scss */
:-moz-ui-invalid {
  box-shadow: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */


@page {
  margin: 2cm 3.5cm;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.55em;
}

a {
  color: #258;
  text-decoration: none;
  font-weight: normal;
}

.page-head {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

#peek, header, .page-head p, .col-menu, footer a {
  display: none;
}

// Temporary change to force updating the digest of `print.css` and stop the
// asset from 404ing. See: https://github.com/github/education-web/pull/1307
// This may be removed when the digest will not return to '901bd...'
.actually-change-the-contents-of-public{
  display: none;
}
